<!DOCTYPE html>
<html>
<head>
  <title>TaskFlow Planner</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
  <a href="/">Home</a> |
  <a href="/users">Manage Users</a>
  <a href="/projects">Manage Projects</a>
  <a href="/tasks">Manage Tasks</a>
  <a href="/task-logs">Manage Tasks Log</a>
  <a href="/reports/productivity">Productivity Dashboard</a>
  <a href="/reports/user-performance">User Performance Report</a>

</nav>
<hr>