<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <!-- CSS -->
    <link rel="stylesheet" href="../public/css/style.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>

<nav>
    <div class="logo">Project Management</div>
    <ul class="nav-links">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/project">Projects</a></li>
        <li><a href="/users">Users</a></li>
    </ul>
</nav>