<%- include('../partials/header') %>

<h2>Create User</h2>

<form method="POST">
Name: <input name="name"><br>
Password: <input type="password" name="password"><br>
Email: <input name="email"><br>
Role:
<select name="role">
  <option value="user" selected>User</option>
  <option value="admin">Admin</option>
</select>
<br>
<button type="submit">Save</button>
<button type="button" onclick="history.back()">Cancel</button>

</form>

<%- include('../partials/footer') %>